python-dotenv
langchain
langchain-community
langchain-experimental
openai
pinecone-client
pinecone
streamlit
streamlit-chat
langchain-pinecone
langchain-openai
assemblyai
mysql-connector-python
pathlib
pymysql
pypdf2
openpyxl
SQLAlchemy
psycopg2
pypdf
textwrap
fpdf
unstructured
python-magic-bin
